/* base styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
}
/* base styles end */

/* website level styles */
.red {
	color: #ef3a4e !important;
}
.blue {
	color: #2994d2 !important;
}
.yellow {
	color: #f3d70e !important;
}
.skin {
	color: #f1cba8 !important;
}
.grey {
	color: #babbbb !important;
}
.primary-btn,
.primary-link-btn {
    padding: 3px 15px 2px;
    border-radius: 15px;
    background-color: #2994d2;
    color: #f1f1f1;
    border: none;
    font-weight: bold;
    text-shadow: -0.5px 0.5px #222;
    box-shadow: -2px 2px 10px #222;
    /* font-family: Chicle, cursive; */
    /* letter-spacing: 0.15em; */
}
/* website level styles end */

/* nav bar styles */
.main-nav-container {
    font-family: 'Chicle', cursive;
    border-bottom: 3px solid #2994d2;
}
.main-nav-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 90px;

}
.company-logo {
    width: 210px;
}
.nav-item {
    letter-spacing: 0.15em;
}
.nav-item-link {
    color: #232A34;
    padding: 3px 15px 2px;
    border-radius: 15px;
}
.nav-item-link:hover,
.nav-item.active > .nav-item-link {
    background-color: #2994d2;
    color: #f1f1f1;
}
/* nav bar styles end */

/* main styles */
.banner-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/home-banner.jpg');
    background-size: cover;
    background-position: center;
}
.welcome-message {
    width: 40%;
    font-weight: bold;
    font-family: Chicle;
    letter-spacing: 0.12em;
    font-size: 55px;
    color: #f1f1f1;
    text-shadow: -2px 3px 3px #222,
        -2.5px 3.5px 7px #222;
}
.contact-btn-wrapper {
    margin-top: 25px;
}
/* main styles end */